<%= render 'link_bar' %>

<div class="col-md-4 bg-white">
	<h1>Events</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Start-time</th>
			<th>End-time</th>
			<th>show</td>
		</tr>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.name %></td>
				<td><%= event.start_time %></td>
				<td><%= event.end_time %></td>
				<td><%= link_to 'show', controller: 'user', action: 'cal_event_show', id: event.id %></td>
			</tr>
		<% end %>
	</table>
</div>

<div class="col-md-8 bg-white">
	<%= month_calendar events: @events do |date, events| %>
		<%= date.day %>

		<% events.each do |event| %>
			<div>
				<%= link_to controller: 'user', action: 'cal_event_show', id: event.id do %>
					<%= event.name %>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>


